
/***************************************************************************************
  
Responsive Helpers Under 800px
  
****************************************************************************************/

@media (max-width: 800px) {

    /***********************************************************************************
      
    Containers
      
    ************************************************************************************/
    
    .content {
        margin-left: 10%;
    }
    
    /***********************************************************************************
      
    Body
      
    ************************************************************************************/
    
    body::after {
        display: none;
    }
}

/***************************************************************************************
  
Responsive Helpers Under 600px
  
****************************************************************************************/

@media (max-width: 600px) {

    /***********************************************************************************
      
    Containers
      
    ************************************************************************************/
    
    .content {
        width: 80%;
        
        margin-left: 10%;
    }
    
    /***********************************************************************************
      
    Body
      
    ************************************************************************************/
    
    body::after {
        display: none;
    }
}

/***************************************************************************************
  
Responsive Helpers Under 300px
  
****************************************************************************************/

@media (max-width: 300px) {

    /***********************************************************************************
      
    Subscribe
      
    ************************************************************************************/
    
    input[type="text"],
    input[type="email"] {
        width: 180px;
    }
    
    .button {
        left: 201px;
    }
}
